.shapes_circle_div1 {
  position: relative;
  height: 90vh;
  width: 100vw;
  background: #2128bd;
  overflow: hidden;
}
/*#2128bd*/
.blank_space{
  height: 10vh;
}
.shape_circle {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}
.shape_circle.shape_c-1 {
  background: #005ffe;
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}
.shape_circle.shape_c-2 {
  background: #ffe5e3;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}
.shape_circle.shape_c-3 {
  background: #ffcc57;
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.content_shape {
  top: 100%;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #fff;
  mix-blend-mode: screen;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  user-select: none;
}

.content_shape h1 {
  text-align: center;
}
@media (max-width: 800px) {
  .content_shape h1 {
    font-size: 10vw;
  }
  .shapes_circle_div1 {
    background: #2128bd;
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    text-align: center;
  }
}
@media (min-width: 800px) {
  .content_shape h1 {
    font-size: 6vw;
  }
  .shapes_circle_div1 {
    background: #fff;
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    text-align: center;
  }
}


.block_under_the_circle{
  user-select: none;
  text-align: center;
  z-index: -1;
}
/*.block_under_the_circle h1{

  padding-top: 3vh;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 2em;
}*/
.block_under_the_circle_title{
  /*z-index: -1;*/
  padding-top: 5vh;
  padding-bottom:5vh ;
  width: 90%;
  margin:0px auto;
}
.block_under_the_circle_content{
  vertical-align:text-top;
  display: inline-block;
  width: 30%;
  font-family: "Open Sans","Noto Sans TC",sans-serif;
}
@media (max-width: 800px) {
  .block_under_the_circle_content{
    display: inline-block;
    width: 100%;
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .h1_hover {
    font-weight: 100;
  }
}
.block_under_the_circle_content h2{
  font-weight: 700;
  font-size: 1.25em;
}
.block_under_the_circle_content p{
  font-size: 20px;
}


.h1_hover::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.h1_hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.h1_hover::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background:#FFE6D9;
  z-index: -1;
  transition: transform .3s ease;
}

.h1_hover {
  font-weight: 700;
  font-size: 1.5cm !important;
  margin:0px auto;
  width: auto;
  position: relative;
  font-family: system-ui, sans-serif;
  text-align: center;
  user-select: none;
}