.ml4 {
  font-weight: 100;
  font-size: 6em;
}
.ml4 .letters {
  position: absolute;
  left: 0;
  right: 0;
  font-family:Microsoft JhengHei;
  font-size:100px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}
.container_NTTU_Hero{
   background-color: #d5e1a3;
  display: flex;          /* ★ */
  height: 100vh;
  align-items: center;    /* ★ */
}
