.ml4 {
  font-weight: 100;
  font-size: 6em;
} 
.ml4 .letters {
  position: absolute;
  left: 0;
  right: 0;
  top: 35vh;
  font-family:Arial;
  font-size:7rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;

}
@media(max-width: 1200px) {
  .ml4 .letters {
   font-size:3rem;
  }
}

@media (min-width: 600px){
  .ml4 .letters {
   font-size: 5rem;
  }
}
.container_NTTU_Hero{
  display: flex;          /* ★ */
  height: 120vh;
  width:100% ;
  align-items: center;    /* ★ */
}
.container_NTTU_Hero img {
  min-height: 100%;
 
  width: 100%;
  z-index:-9999;
}



.patterns_text {
  height: 100vh;
  background-color:#2e4057;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M880.4872063342143 309.7042804678968L958.4866413870994 439.5171398613452 1010.3000657276626 231.7048454150117z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M770.383%2c470.631C809.5%2c469.939%2c843.339%2c447.221%2c864.176%2c414.109C886.693%2c378.326%2c900.095%2c333.875%2c879.77%2c296.803C858.835%2c258.62%2c813.916%2c241.978%2c770.383%2c243.04C728.775%2c244.055%2c690.515%2c265.788%2c669.863%2c301.923C649.368%2c337.784%2c649.515%2c382.05%2c670.657%2c417.534C691.317%2c452.21%2c730.025%2c471.345%2c770.383%2c470.631' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M338.5324335143966 370.7821146279571L382.4680351769671 469.46309164569766 481.1490121947076 425.52748998312717 437.2134105321371 326.84651296538664z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M665.6633671243943 137.41469329496095L670.0324157100833 220.78110655381727 792.8975113055233 172.54432704585565z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-38.20637090131042 19.4140932087166L-83.22402499192884 150.1548539061381 47.51673570549268 195.1725079967565 92.53438979611109 64.43174729933502z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M903.308%2c234.773C950.403%2c236.642%2c997.486%2c218.447%2c1022.685%2c178.617C1049.618%2c136.046%2c1055.302%2c80.038%2c1027.979%2c37.716C1002.36%2c-1.967%2c950.474%2c-8.825%2c903.308%2c-6.294C861.292%2c-4.04%2c821.241%2c13.731%2c799.837%2c49.956C778.066%2c86.803%2c778.383%2c132.405%2c799.29%2c169.749C820.699%2c207.989%2c859.517%2c233.035%2c903.308%2c234.773' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M94.015%2c379.36C106.62%2c379.127%2c117.798%2c371.869%2c124.131%2c360.968C130.495%2c350.013%2c131.497%2c336.568%2c125.288%2c325.525C118.96%2c314.269%2c106.916%2c307.947%2c94.015%2c307.401C79.984%2c306.807%2c64.9%2c310.554%2c57.792%2c322.667C50.62%2c334.889%2c54.277%2c350.176%2c61.907%2c362.118C68.918%2c373.091%2c80.996%2c379.601%2c94.015%2c379.36' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1354.282575345936 224.17709645150364L1284.5708123387576 269.44844468355063 1387.3337161904174 351.38041507829473z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M603.703%2c541.718C665.816%2c542.568%2c734.51%2c527.728%2c763.278%2c472.672C790.808%2c419.986%2c758.127%2c359.797%2c724.307%2c310.91C696.074%2c270.099%2c653.319%2c242.969%2c603.703%2c242.003C552.251%2c241.001%2c503.389%2c263.339%2c474.68%2c306.049C441.994%2c354.675%2c423.382%2c417.012%2c451.518%2c468.405C480.5%2c521.342%2c543.358%2c540.892%2c603.703%2c541.718' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1308.4384619386844-44.64481891789035L1201.86197042972 0.5942177276418334 1247.1010070752523 107.17070923660623 1353.6774985842167 61.93167259107403z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M242.843%2c280.321C286.983%2c278.787%2c324.692%2c254.684%2c349.819%2c218.361C379.973%2c174.772%2c411.624%2c120.353%2c385.347%2c74.323C358.964%2c28.107%2c296.047%2c29.832%2c242.843%2c30.966C192.405%2c32.041%2c137.007%2c37.267%2c110.489%2c80.184C82.967%2c124.726%2c93.282%2c182.599%2c122.164%2c226.272C148.222%2c265.676%2c195.63%2c281.962%2c242.843%2c280.321' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M656.006134756545 178.69891206683448L746.0233687284857 113.29756333281057 590.604786022521 88.68167809489371z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M153.557%2c510.663C199.439%2c508.522%2c226.831%2c463.92%2c247.519%2c422.911C265.675%2c386.921%2c271.764%2c346.795%2c254.631%2c310.307C234.33%2c267.072%2c201.255%2c225.302%2c153.557%2c222.797C102.518%2c220.116%2c56.079%2c253.411%2c32.252%2c298.626C9.89%2c341.06%2c19.256%2c390.815%2c43.075%2c432.449C67.09%2c474.426%2c105.249%2c512.917%2c153.557%2c510.663' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M853.3033115003873 360.41047035628173L928.8635456057093 433.3781402535857 1000.5349333990043 283.5539541469507z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1114.674%2c275.935C1142.915%2c276.824%2c1170.202%2c263.69%2c1184.899%2c239.558C1200.191%2c214.45%2c1200.633%2c183.305%2c1186.931%2c157.296C1172.2%2c129.333%2c1146.267%2c105.336%2c1114.674%2c106.256C1084.17%2c107.145%2c1062.736%2c133.875%2c1049.359%2c161.304C1037.755%2c185.098%2c1038.604%2c212.364%2c1051.71%2c235.365C1064.958%2c258.616%2c1087.927%2c275.093%2c1114.674%2c275.935' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1330.689488865851 140.08198317827174L1338.1613579222912 34.67300090311845 1254.4409647918458 73.71246136359235z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M616.2084098502073 266.5828213363668L584.1640748671964 115.8260781370798 465.4516666509203 298.6271563193777z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1336.8356475171747 467.25758813037464L1249.7320687324786 355.7700913308324 1138.2445719329364 442.8736701155284 1225.3481507176325 554.3611669150707z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1198.6382850057819 167.71188565895818L1246.5050173608745 88.04826511321394 1166.84139681513 40.18153275812139 1118.9746644600377 119.84515330386563z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1383.526%2c712.916C1428.104%2c712.496%2c1466.48%2c687.37%2c1491.601%2c650.542C1521.207%2c607.14%2c1549.208%2c553.14%2c1523.93%2c507.083C1498.106%2c460.03%2c1437.098%2c450.32%2c1383.526%2c453.626C1336.204%2c456.546%2c1293.437%2c481.39%2c1270.236%2c522.737C1247.528%2c563.204%2c1248.122%2c612.744%2c1271.87%2c652.61C1295.073%2c691.56%2c1338.191%2c713.343%2c1383.526%2c712.916' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/*改key背景*/

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

._text text {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 10 px;
  stroke:   #ffa5d8;
  font-size: 4em;
  font-weight: 500;
  stroke-width: 1;
  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 100%;
    stroke-dashoffset:  100%;
    fill:hsl(189, 68%, 75%)/*第一項可以調整顏色*/

  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: black;
  }
  
}
@media(max-width: 1200px) {
._text text {
   font-size:2rem;
   stroke-width: 1;
  }
  ._text2 text{
    font-size:1.5rem;
  }
}

@media (min-width: 600px){
._text text {
   font-size: 4rem;
  }
}

